.body {
  max-width: 585px;
  margin: 0 auto 100px;
}
.btns {
  display: flex;
  align-items: center;
  gap: 8px;
  @media (max-width:620px) {
    justify-content: center;
   }
}
.btns button:first-child {
 @media (max-width:620px) {
  max-width: 75vw !important;
 }
}
.likeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 48px;
  height: 48px;
  background: #ffffff;
  box-shadow: 4px 4px 10px #eeeeee;
  border-radius: 8px;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 4px 4px 10px #d7d6d6;
  }
  @media (max-width: 550px) {
    min-width: 48px;
  }
}
.subTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #0d0f2b;
  margin-bottom: 24px;
}
